:root {
    --ltgray: #d6e2f0;
    --grayblue: #7b879d;
    --dkblue: #1f3251;
  }
  
  body {
    font-family: "Outfit", sans-serif;
    font-size: 15px;
    background: var(--ltgray);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
  }
  
  p {
    color: var(--grayblue);
  }
  .attribution a {
    color: var(--grayblue);
  }
  a:hover, a:focus {
    color: black;
  }
  a:active {
      color: red;
  }
  .attribution {
    font-size: 0.75rem;
  }

  img {
    border-radius: 1.25rem;
  }
  .container {
    background: white;
    max-width: 24rem;
    padding: 1rem;
    border-radius: 2rem;
  }
  .resp {
    width: 100%;
    height: auto;
  }
  