* {
    font-family: 'Overpass', sans-serif;
  }
  :root {
    --primary: hsl(25, 97%, 53%);
    --white: hsl(0, 0%, 100%);
    --ltgray: hsl(217, 12%, 63%);
    --mdgray: hsl(216, 12%, 54%);
    --dkblue: hsl(213, 19%, 18%);
    --vdkblue: hsl(216, 12%, 8%);
  }
  body {
    background: #000;
    color: #fff;
  }
  p {
    color: var(--mdgray);
  }
  button {
    max-width: 350px;
    width: 100%;
    margin: 10px auto;
    padding: 10px;
    background: var(--primary);
    color: white;
    font-weight: bold;
    font-size: 1.25rem;
    border-radius: 50px;
    border: none;
    cursor: pointer;
  }
  button:hover, button:focus {
    background: white;
    color: var(--primary);
  }
  button:active {
    background: var(--vdkblue);
  }
  .rateus {
    display: block;
  }
  .thankyou {
    display: none;
  }
  .pwrap {
    padding: 0.5rem;
    width: 50%;
    margin: 2rem auto;
    color: var(--primary);
    background: rgba(255, 255, 255, 0.05);
    border-radius: 50px;
  }
  .autocenter {
    width: 100%;
    margin: 0 auto;
  }
  .text-center {
    text-align: center;
  }
  .container {
    max-width: 360px;
    padding: 20px 7px;
    margin: 10vh auto 20px;
    background: linear-gradient(var(--dkblue), var(--vdkblue));
    border-radius: 10px;
  }
  .circle {
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.05);
    width: 1.1rem;
    height: 1.1rem;
    text-align: center;
    padding: 1.1rem;
  }
  input {
    display: none;
  }
  .flex {
    display: flex;
  }
  .col {
    flex-direction: row;
  }
  .row {
    flex-direction: row;
  }
  .fsa {
    justify-content: space-around;
  }
  .fjcc {
    justify-content: center;
    align-items: center;
  }
  .faic {
    align-items: center;
  }
  .margin10 {
    margin: 10px;
  }
  .attribution { 
    font-size: 11px; 
    text-align: center; 
  }
  .attribution a { 
    color: hsl(228, 45%, 44%); 
  }